@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@if (Model.ConfirmSuccess)
{
    <h1>Email confirmed</h1>
    <p>Your email was confirmed succesfully, please <a asp-area="Identity" asp-page="/Account/Login">Login</a> to access site functionality.</p>

}
else
{
    <h1>Email confirm error</h1>
    <p>@Html.Raw(Model.StatusMessage)</p>
}
